// ---
// Pallete
//

$yellow: #FBC138;
$yellow-border: #E9B435;
$purple: #610a3d;
$pink: #d94754;
$green: #12676e;

$black: #000;
$white: #FFF;

$silver: #c5c5c5;

$grey: #939296;
$grey-dk: #4E4E4E;
$grey-lt: #D8D8D8;

$font-weight: 400;
$font-weight-bold: 600;
$font-weight-black: 600;

$lap-start: 640px;
$desk-start: 960px;

$sans: 'Open Sans', sans-serif;

$base-spacing: 24px;
$half-spacing: $base-spacing/2;
$double-spacing: $base-spacing*2;

$heading-color: $black;
$heading-font-weight: 600;
$heading-font-weight-heavy: 700;
$heading-line-height: 1.5;
$heading-font-family: $sans;

$h1-font-size: 30px;
$h2-font-size: 26px;
$h3-font-size: 22px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 16px;
