// ---
// Pallete
//

$yellow: #eeaf2c;
$purple: #610a3d;
$pink: #d94754;
$green: #12676e;

$black: #000;
$white: #FFF;

$silver: #c5c5c5;

$grey: #7c7b80;
$grey-dk: #3c3c3c;

$font-weight: 400;
$font-weight-bold: 600;
$font-weight-black: 600;
