@charset "UTF-8";

@import "../node_modules/normalize.css/normalize.css";
@import "theme/reset";
@import "vars";
@import "mixins";
@import "theme/global";
@import "theme/layout";
@import "theme/tables";
@import "theme/fonts";
@import "base/headings.scss";
//@import "theme/typography";
@import "theme/helpers";
@import "theme/buttons";
@import "theme/loader";
@import "theme/header";
@import "theme/site-footer";
@import "theme/contact";
@import "theme/form-inputs";
@import "theme/forms";
@import "theme/extras";
@import "theme/booking-form";
@import "theme/summary";
@import "theme/site-contact";
@import "theme/site-nav";
@import "theme/quick-nav";
@import "theme/upsell";
@import "theme/breadcrumbs";
@import "theme/contact-form";
@import "theme/banner";

@import "vendor/flickity";
@import "theme/flickity";
@import "theme/cards";
@import "theme/icon-list";
@import "theme/service";

$pswp__assets-path: '/photoswipe/default-skin/';

@import "../node_modules/photoswipe/src/css/main";
@import "../node_modules/photoswipe/src/css/default-skin/default-skin";



// Homepage
@import "theme/hero-list";
@import "theme/detail";


@import "theme/footer";
@import "theme/social";
@import "theme/footer-nav";

svg {

    display: inline-block;
    fill: currentColor !important;
    vertical-align: middle;
    line-height: 1em;

    &.svg-icon {
        height: 1em;
        width: 1em;
    }
}


.mobile--hidden {
    display: none;
    @include media-query(min, $lap-start) {
        display: block;
    }
}
