@charset "UTF-8";

@import "../node_modules/normalize.css/normalize.css";
@import "theme/reset";
@import "vars";
@import "mixins";
@import "theme/global";
@import "theme/layout";
@import "theme/tables";
@import "theme/fonts";
@import "base/headings.scss";
//@import "theme/typography";
@import "theme/helpers";
@import "theme/buttons";
@import "theme/loader";
@import "theme/header";
@import "theme/site-footer";
@import "theme/site-contact";
@import "theme/site-nav";
@import "theme/quick-nav";
@import "theme/upsell";

@import "vendor/flickity";
@import "theme/flickity";
@import "theme/cards";

// Homepage
@import "theme/hero-list";
@import "theme/detail";


@import "theme/footer";
@import "theme/social";
@import "theme/footer-nav";

svg {

    display: inline-block;
    fill: currentColor !important;
    vertical-align: middle;
    line-height: 1em;

    &.svg-icon {
        height: 1em;
        width: 1em;
    }
}


.mobile--hidden {
    display: none;
    @include media-query(min, $lap-start) {
        display: block;
    }
}
