---
layout: 'base.hbs'
---
<header class="wrapper site-header">
    <div class="container">
        <p>Some Header content</p>
    </div>
</header>

{{content}}

<footer class="wrapper site-footer">
    <div class="container">
        <p>Some footer content</p>
    </div>
</footer>