---
layout: 'base.hbs'
---
<header class="wrapper page-header">
    <div class="container">
        <p>Style guide for {{$$.site.title}}</p>
    </div>
</header>
{{content}}
<footer>
    <p>Style Guide footer content</p>
</footer>