<section class="wrapper upsell">
    <div class="container">
        <h1 class="page-title">What's included?</h1>
        <div class="cards cards--feature-list" id="the-pod-features">
            {{inc src="feature-card.hbs" feature=feature}}
        </div>
    </div>
</section>