---
description: >
    Compact Camera Hire
cta: true
features: camera-hire-features
breadcrumbs:
    - label: Home
      url: /
    - label: Services
      url: /services
---

{{inc src="hero.hbs" service=$$.camera-hire}}
{{inc src="breadcrumbs.hbs" items=page.breadcrumbs currentPage=$$.camera-hire.title}}

<section class="wrapper detail">
    <div class="container">
        <div class="detail__img">
            <img src="/content/camera-hire/JV200_FRONT_OPEN_S.png" alt="">
        </div>
        <div class="detail__content">
            <h2>{{{$$.camera-hire.title}}}</h2>
            <p class="lede">{{{$$.camera-hire.lede}}}</p>
            <p>{{$$.camera-hire.desc}}</p>
            <p>
                <a data-scroll href="#{{page.features}}" class="button button--alt">Prices and Features</a>
            </p>
        </div>
    </div>
</section>

{{inc src="features.hbs" feature=$$.camera-hire id=page.features}}
