---
description: Gone are the days of providing disposable cameras for your guests to capture the big day - do it the modern way and Hire Digital Cameras instead.
cta: true
features: camera-hire-features
breadcrumbs:
    - label: Home
      url: /
    - label: Services
      url: /services
og:
    image: /content/camera-hire/service-thumb.jpg
---

{{inc src="hero.hbs" service=$$.services.camera-hire}}
{{inc src="breadcrumbs.hbs" items=page.breadcrumbs currentPage=$$.services.camera-hire.title}}

<section class="wrapper detail">
    <div class="container">
        <div class="detail__img">
            <img src="/content/camera-hire/JV200_FRONT_OPEN_S.png" alt="">
        </div>
        <div class="detail__content">
            <h2>{{{$$.services.camera-hire.title}}}</h2>
            <p class="lede">{{{$$.services.camera-hire.lede}}}</p>
            <p>{{$$.services.camera-hire.desc}}</p>
            <p>
                <a data-scroll href="#{{page.features}}" class="button button--alt">Prices and Features</a>
            </p>
        </div>
    </div>
</section>

{{inc src="features.hbs" feature=$$.services.camera-hire id=page.features}}
