---
description: >
    The latest in Party Entertainment, Photo booths are becoming a must-have for parties, events or any other occasion. Available for <strong>weddings</strong>, <strong>birthday parties</strong>, <strong>corporate events</strong> and any other party or event.
---

<section class="wrapper hero-list">
    <div class="container">
        <article class="hero hero--loading">
            <section class="hero__img" hero-src="/content/hero-01.jpg" hero-src-large="/content/hero-01.jpg">
                <section class="hero__content">
                    <h1 class="hero__title">{{page.title}}</h1>
                    <p class="hero__summary">{{{page.description}}}</p>
                </section>
            </section>
            <div class="loader"></div>
        </article>
    </div>
</section>

<div class="wrapper breadcrumb">
    <div class="container">
        <ul class="breadcrumb__items">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">Home</a></li>
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/services">Services</a></li>
            <li class="breadcrumb__item breadcrumb__item--current">Photo Booths</li>
        </ul>
    </div>
</div>

<section class="wrapper detail">
    <div class="container">
        <div class="detail__img">
            <img src="/content/photo-booths-01.jpg" alt="">
        </div>
        <div class="detail__content">
            <h2>Choose from three booths</h2>
            <p class="lede">The following is included with all booths.</p>
            <ul>
                <li>Takes up to five people</li>
                <li>Price includes up to 4 hours unlimited pod use</li>
                <li>Unlimited photos in colour or black and white</li>
                <li>Choice of Background Colour</li>
                <li>Box of props (hats, wigs, glasses, etc.)</li>
                <li>Photos to Facebook</li>
                <li>USB of all images</li>
                <li>Personalised message or logo</li>
                <li>A friendly pod attendant to assist with the pod</li>
            </ul>
        </div>
        <div class="detail__img detail__img--right">
            <img src="/content/photo-booths-02.jpg" alt="">
        </div>
    </div>
</section>

<section class="wrapper upsell">
    <div class="container">
        <h1 class="page-title">Which Photo Booth is right for you?</h1>
        <div class="cards cards--full-bleed" id="photo-booths-choice">
            <!-- TODO: Add info/content for each of the three pods -->
            <!-- The Pod -->
            <div class="card">
                <a class="card__img" href="{{$$.booths.the-pod.url}}">
                    <img src="{{$$.booths.the-pod.thumb}}" alt="">
                </a>
                <p class="card__title">{{$$.booths.the-pod.title}}</p>
                <p class="card__summary">{{$$.booths.the-pod.tagline}}</p>
                <p class="card__cta">
                    <a href="{{$$.booths.the-pod.url}}" class="button">Read More</a>
                </p>
            </div>

            <!-- The Cab -->
            <div class="card">
                <a class="card__img" href="{{$$.booths.the-cab.url}}">
                    <img src="{{$$.booths.the-cab.thumb}}" alt="">
                </a>
                <p class="card__title">{{$$.booths.the-cab.title}}</p>
                <p class="card__summary">{{{$$.booths.the-cab.tagline}}}</p>
                <p class="card__cta">
                    <a href="{{$$.booths.the-cab.url}}" class="button">Read More</a>
                </p>
            </div>

            <!-- Mini Pod -->
            <div class="card">
                <a class="card__img" href="{{$$.booths.mini-pod.url}}">
                    <img src="{{$$.booths.mini-pod.thumb}}" alt="">
                </a>
                <p class="card__title">{{$$.booths.mini-pod.title}}</p>
                <p class="card__summary">{{{$$.booths.mini-pod.tagline}}}</p>
                <p class="card__cta">
                    <a href="{{$$.booths.mini-pod.url}}" class="button">Read More</a>
                </p>
            </div>
        </div>
    </div>
</section>
