---
description: >
    The Wall is great fun!
---

<div class="wrapper">
    <div class="container">
        <h1>{{page.title}}</h1>
        <p>Content will follow...</p>
    </div>
</div>

<div class="wrapper breadcrumb">
    <div class="container">
        <ul class="breadcrumb__items">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">Home</a></li>
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/services">Services</a></li>
            <li class="breadcrumb__item breadcrumb__item--current">The Wall</li>
        </ul>
    </div>
</div>
