// ----------------------------------------
// Cards are on the homepage (testimonials)
// And photo-booth selection
// ----------------------------------------
.cards {
    position: relative;

    // MIN
    @include media-query(min, $desk-start) {
        display: flex;
        justify-content: space-between;
    }
}

// -----------------------------------------
// The carousel alternative of the
// cards puts the box-shadow on the wrapper
// instead of each element
// -----------------------------------------
.cards--carousel {
    // MAX
    @include media-query(max, $lap-start) {
        background: $white;
        @include box-shadow;
    }
    .card {
        margin-bottom:0;
        box-shadow: 0 0 0 0;
    }
}

/* enable Flickity by default */
#testimonial-cards:after {
    content: 'flickity';
    display: none; /* hide :after */
}

@media screen and ( min-width: $desk-start ) {
    /* disable Flickity for large devices */
    #testimonial-cards:after {
        content: '';
    }
}

.cards--feature-list {

    @include media-query(min, $desk-start) {
        display: block;
        //justify-content: space-between;
    }

    .card {
        text-align: left;
        margin: 0 auto;

        @include media-query(min, $lap-start) {
            width: auto;
            max-width: 620px;
        }

        @include media-query(min, $desk-start) {
            width: 620px;
        }
    }
}

.cards--feature-list--two-up {

    @include media-query(min, $desk-start) {

        display: flex;

        .card {
            width: 48%;
            display: flex;
            flex-wrap: wrap;

            > * {
                width: 100%;
            }
        }
    }
}

// -----------------------
// Card item
// -----------------------
.card {
    background: $white;
    padding: $base-spacing;
    text-align: center;
    z-index: 2;
    width: 100%;
    margin-bottom: $half-spacing;

    @include box-shadow;

    @include media-query(min, $lap-start) {
        width: 100%;
        padding: $base-spacing*1.75;
        margin-bottom: $half-spacing;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include media-query(min, $desk-start) {
        width: 31%;
        margin-bottom: 0;
    }
}

// --------------------------
// When a logo is present in
// testimonials
// --------------------------
.card__logo {
    margin-bottom: $base-spacing;
    //height: 43px;
    //max-height: 20px;
    color: blue;
    svg {
        fill: blue;
    }
    img {
        max-height: 100px;
    }
}

.cards--full-bleed {
    .card {
        padding: $base-spacing;
        padding-top: 0;
    }
    .card__img {
        margin-left: -$base-spacing;
        margin-right: -$base-spacing;
        margin-bottom: $base-spacing;
    }
}

.card--inset {
    width: auto;
    box-shadow: 0 0 0 0;
    text-align: left;
    padding: 0;
}

// ------------------------
// Full-bleed image variant
// ------------------------
.card__img {
    display: block;
    font-size: 0;

    img {
        transition: transform .1s ease-in-out;
    }

    .has-mouse & {
        &:hover {
            img {
                @include box-shadow;
                transform: scale(1.05);
            }
        }
    }
}

// -----------------------
// card title
// -----------------------
.card__title {
    font-size: 2.1rem;
    font-weight: $font-weight-bold;
}

// -----------------------
// Card summary text
// -----------------------
.card__summary {
    
}

// -----------------------
// Card CTA block
// -----------------------
.card__cta {
    margin-bottom: 0;
}

.card__cta--bottom {
    //justify-content: flex-end;
}

// -----------------------
// Author name block
// -----------------------
.card__author {
    color: #939296;
    font-size: 1.2rem;
}

// -----------------------
// Yellow-bg price block
// -----------------------
.card__price {
    padding-top: 0.5625em;
    padding-bottom: 0.5625em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: #fff2d6;
    font-size: 2.0rem;
    border-radius: 24px;
    margin-bottom:$base-spacing;
}

.card__extras {
    margin-bottom: $base-spacing*2;
}

.detail__gallery {
    text-align: center;
    figure {
        display: none;
    }
    @include media-query(min, $lap-start) {
        text-align: left;
        width: 30%;
    }
}

.gallery {}
.gallery__header {
    margin-bottom: $half-spacing;
}

.gallery__hint {
    font-size: 1.4rem;
    color: $grey;
    margin-bottom: $half-spacing;
}

.gallery__link {
    font-size: 0;
    display: inline-block;
    //max-width: 100px;
    width: 100px;
    height: 65px;
    overflow: hidden;
    margin: 0;
    display: none;

    &:nth-child(-n+11) {
        display: inline-block;
    }

    @include media-query(min, $lap-start) {
        &:nth-child(-n+20) {
            display: inline-block;
        }
    }

    @include media-query(min, $desk-start) {
        &:nth-child(-n+60) {
            display: inline-block;
        }
    }

    img {
        width: 100%;
    }
}

.detail__content {
    @include media-query(min, $lap-start) {
        width: 70%;
        padding-left: $base-spacing;
    }
}

.card-title {
    padding: 0;
    margin: -$base-spacing;
    margin-bottom: 0;
    padding: $base-spacing;
    font-weight: normal;
    //outline: 1px solid red;
}
