// ----------------------------------------
// Cards are on the homepage (testimonials)
// And photo-booth selection
// ----------------------------------------
.cards {
    position: relative;

    // MIN
    @include media-query(min, $desk-start) {
        display: flex;
        justify-content: space-between;
    }
}

// -----------------------------------------
// The carousel alternative of the
// cards puts the box-shadow on the wrapper
// instead of each element
// -----------------------------------------
.cards--carousel {
    // MAX
    @include media-query(max, $lap-start) {
        background: $white;
        @include box-shadow;
    }
    .card {
        margin-bottom:0;
        box-shadow: 0 0 0 0;
    }
}

.cards--feature-list {
    @include media-query(min, $desk-start) {
        display: block;
        //justify-content: space-between;
    }
    .card {
        text-align: left;
        max-width: 320px;
        margin: 0 auto;

        @include media-query(min, $lap-start) {
            width: auto;
            max-width: 620px;
        }

        @include media-query(min, $desk-start) {
            width: 620px;
        }
    }
}

// -----------------------
// Card item
// -----------------------
.card {
    background: $white;
    padding: $base-spacing;
    text-align: center;
    z-index: 2;
    width: 100%;
    margin-bottom: $half-spacing;

    @include box-shadow;

    @include media-query(min, $lap-start) {
        width: 100%;
        padding: $base-spacing*1.75;
        margin-bottom: $half-spacing;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include media-query(min, $desk-start) {
        width: 31%;
        margin-bottom: 0;
    }
}

// --------------------------
// When a logo is present in
// testimonials
// --------------------------
.card__logo {
    margin-bottom: $base-spacing;
    height: 43px;
}

.cards--full-bleed {
    .card {
        padding: $base-spacing;
        padding-top: 0;
    }
    .card__img {
        margin-left: -$base-spacing;
        margin-right: -$base-spacing;
        margin-bottom: $base-spacing;
    }
}

// ------------------------
// Full-bleed image variant
// ------------------------
.card__img {
    display: block;
    font-size: 0;

    img {
        transition: transform .1s ease-in-out;
    }

    .has-mouse & {
        &:hover {
            img {
                @include box-shadow;
                transform: scale(1.05);
            }
        }
    }
}

// -----------------------
// card title
// -----------------------
.card__title {
    font-size: 2.1rem;
    font-weight: $font-weight-bold;
}

// -----------------------
// Card summary text
// -----------------------
.card__summary {
    
}

// -----------------------
// Card CTA block
// -----------------------
.card__cta {
    margin-bottom: 0;
}

// -----------------------
// Author name block
// -----------------------
.card__author {
    color: #939296;
    font-size: 1.2rem;
}

// -----------------------
// Yellow-bg price block
// -----------------------
.card__price {
    padding-top: 0.5625em;
    padding-bottom: 0.5625em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: #fff2d6;
    font-size: 2.0rem;
    border-radius: 24px;
    margin-bottom:$base-spacing*2;
    //font-weight: $font-weight-bold;
}

.card__extras {
    margin-bottom: $base-spacing*2;
}