.clients {
    background: $yellow;

    @include media-query(min, $desk-start) {

        padding-top: 0;
        padding-bottom: $base-spacing*3;

        .section-title {
            margin-bottom: $base-spacing*2;
        }
    }
}

.client__list {
    background: $white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include media-query(min, $desk-start) {
        padding: $half-spacing;
    }
}

.client__logo {

    width: 50%;
    padding: $half-spacing;

    @include media-query(min, $lap-start) {
        width: 25%;
        padding: $base-spacing;
    }

    @include media-query(min, $desk-start) {
        width: 16.6666%;
    }

    &:nth-child(4n+1) {
        clear: both;
    }
}
