.contact {

    @include antialias;
    background: $black;
    color: $white;
    background: $black url(/img/footer-bg.svg) no-repeat -100px 0;

    @include media-query(min, $lap-start) {
        background: $black url(/img/footer-bg.svg) no-repeat;
        background-position: calc(50% - 100px) $half-spacing;
        padding-top: $base-spacing*3;
    }

    h1 {
        color: $white;
    }

    > .container {
        padding-left: $base-spacing;
        padding-right: $base-spacing;
        @include media-query(min, $lap-start) {
            max-width: 600px;
            margin: 0 auto;
        }
    }
}

.contact__items {
    @include list-reset;

    @include media-query(min, $lap-start) {
        display: flex;
        flex-wrap: wrap;
        > * {
            width: 50%;
        }
    }
}

.contact__item {
    margin-bottom: $base-spacing;
    color: $white;
    a {
        color: $white;
    }
    > strong {
        margin-bottom:$half-spacing/2;
        display: block;
    }
    &:nth-child(2n) {
        @include media-query(min, $lap-start) {
            //padding-left: $base-spacing*4;
        }
        //outline: 1px solid red;
    }
}
