.detail {
    position: relative;
    z-index: 2;

    > .container {
        padding-left: $base-spacing;
        padding-right: $base-spacing;

        @include media-query(min, $lap-start) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    
    @include media-query(min, $lap-start) {
        padding-top: $base-spacing*2;
        padding-bottom: $base-spacing*4;
    }
}

.detail__content {

    flex: 1;

    @include media-query(min, $desk-start) {
        width: 70%;
        padding-left: $base-spacing;
        padding-right: $base-spacing;
    }
}

.detail__img {

    font-size: 0;
    width: 100%;
    margin-bottom: $base-spacing;

    img {
        width: 100%;
        max-width: 360px;
    }

    @include media-query(min, $desk-start) {

        width: auto;
        padding-left: $base-spacing*2;
        padding-right: $base-spacing*2;
    }
}

.detail__img--right {


    @include media-query(min, $desk-start) {
        display: block;
        position: relative;
        top: $base-spacing*5;

        padding-left: $half-spacing;
        padding-right: $half-spacing;

        img {
            max-width: 345px;
        }
    }
}
