.faq {
    > .container {
        max-width: 620px;
        padding-left: $base-spacing;
        padding-right: $base-spacing;
    }
    .section-title {
        margin-bottom: $base-spacing;
    }

    .page-giant-deck-chairs & {
        > .container {
            padding-left: 0;
            padding-right: 0;
        }
        .section-title {
            text-align: left;
        }
    }
}

.faq__question {
    margin-bottom: $half-spacing;
}

.faq__answer {
    margin-bottom: $base-spacing*2;
}
