.forms {

    background: $yellow;
    > .container {
        background: $white;
        padding: $base-spacing;
        max-width: 500px;
        @include box-shadow-even;
    }
}

.validate-form {
    padding-top: $base-spacing;
}
