* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: $font-weight;
    color: $black;
    min-height: 100vh;
}

h1,h2,h3,h4,h5 {
    font-weight: $font-weight-black;
}

ul, p {
    margin-bottom: $base-spacing;
}

ul {
    margin-left: 2em;
}

h1 {
    padding-top: $base-spacing;
    margin-bottom: $base-spacing;
}

h2 {
    margin-bottom: $half-spacing;
    padding-top: $half-spacing;
}

h3 {
    margin-bottom: $half-spacing;
    padding-top: $half-spacing;
}

.lede {
    font-size: 2.4rem;
}

.global-loader {
    width: 100%;
    background: $yellow;
    text-align: center;
    padding: $half-spacing 0;
    position: fixed;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform .1s ease-in;

    &.active {
        transform: translateY(0);
    }
}
