.site-header {
    position: relative;
    margin: 0 auto;
    background: $black;
    padding-top: 0;
    padding-bottom: 0;

    > .container {
        max-width: $page-width;
        padding-left: 0;
        padding-right: 0;
    }

    @include media-query(min, $lap-start) {
        //display: flex;
        //align-items: flex-end;
        //height: 120px;
        padding-top: $base-spacing;
        padding-bottom: $base-spacing;
        > .container {
            display: flex;
            align-items: center;
        }
    }
}

.header-wrapper {
    padding-top: 0;
    padding-bottom: 0;

    > .container {
        @include media-query(max, $lap-start) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.logo {
    display: block;
    color: $black;
    max-width: 200px;

    svg {
        width: 100%;
    }
    
    @include media-query(min, $lap-start) {
        max-width: none;
        width: 300px;
    }

    @include media-query(min, $desk-start) {
        //max-width: none;
    }
}

.logo__your {
    display: none;
}
.logo__event {
    display: none;
}

.logo__solutions {
    display: none;
}

.controls {
    display: flex;
    //@include media-query(min, $lap-start) {
    //    float: right;
    //}
}

.controls__skip-links {
    display: flex;
    margin-left: auto;
    @include media-query(min, $lap-start) {
        display: none;
    }
}

.skip {

    display: block;
    width: 75px;
    height: 106px;
    position: relative;
    color: $black;

    &:before {
        position: absolute;
        content: '';
        width: 55px;
        height: 55px;
        border: 1px solid $yellow;
        border-radius: 100%;
        top: 0;
        left: 0;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    &.active {
        background: $yellow;
        &:before {
            border-color: $black;
        }
        .svg-icon {
            &:first-child {
                opacity: 0;
            }
            &:last-child {
                opacity: 1;
            }
        }
    }

    .svg-icon {
        //outline: 1px solid red;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);

        &:last-child {
            opacity: 0;
            font-size: 20px;
        }
    }
}

.skip--contact {
    color: $yellow;
    &.active {
        color: $black;

    }
}
.skip--site-nav {
    &:before {
        background: $yellow;
    }
}
