.logo {
    //outline: 1px solid red;
    display: block;
    color: $black;
}

.logo__your {
    display: none;
}
.logo__event {
    display: none;
}
.logo__solutions {
    display: none;
}

.controls {

}