// -----------------------------------------------------------------
// Wrapper for the hero LIST on the homepage (in case there are many
// -----------------------------------------------------------------
.hero-list {
    //@include container;
    padding: 0;

    > .container {
        padding-left: 0;
        padding-right: 0;
        max-width: none;
    }
}

// -----------------------------
// Wrapper for each hero element.
// This is done to allow img/text to be separate
// elements so that they can stack on mobile, but be overlaid
// on desktop
// <article class="hero">
//   <div class="hero__img hero--feature" hero-src="/content/hero-01-small.jpg" hero-src-large="/content/hero-01.jpg" style="background-image: url(&quot;/content/hero-01.jpg&quot;);"></div>
//      <div class="hero__content">
//          <h2 class="hero__title">Exclusive</h2>
//          <p class="hero__summary">For the contemporary adventurer</p>
//          <div class="hero__cta">
//          <a href="/store-category.php" class="button">Shop now</a>
//      </div>
//   </div>
// </article>
// ----------------------
.hero {
    position: relative;
    background: $black;
    overflow: hidden;

    .hero--loading {
        .loader {
            opacity: 1;
            visibility: visible;
        }
    }

    .loader {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(.5);
        color: $yellow;


        //@include media-query(min, $lap-start) {
        //    top: calc(50% - 20px);
        //    transform: translateY(-50%);
        //}
    }
}

// -----------------------------------
// Hero img container (padded box trick)
// -----------------------------------
.hero__img {
    //outline: 1px solid red;
    display: flex;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 150%;
    opacity: 1;
    transition: opacity 1s;

    &:before {
        @include coverall;
        transition: background .3s;
        background: rgba($black, .7);
    }

    @include media-query(min, 370px) {
        padding-bottom: 120%; // approx 600 high at full width
    }

    @include media-query(min, $lap-start) {
        padding-bottom: 60.86%; // approx 600 high at full width
    }

    @include media-query(min, $lap-start) {
        padding-bottom: 42%; // approx 600 high at full width
    }
    @include media-query(min, $page-width) {
        padding-bottom: 500px; // approx 600 high at full width
    }
}

// -----------------------------------------
// Loading state for each hero
// This is seen when an image is not visible
// -----------------------------------------
.hero--loading {
    .loader {
        opacity: 1;
        visibility: visible;
    }
    .hero__img {
        &:before {
            background: rgba($black, 1);
        }
    }
}

// ---------------------------
// Hero content wrapper for everything text based
// (which ends up being below the image on mobile (ie: text/cta)
// ---------------------------
.hero__content {

    width: 100%;
    padding: $base-spacing;
    color: $white;
    //background: rgba($black, .5);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    text-align: center;
    //bottom: 0;
    //height: 100%;

    //@include media-query(min, $lap-start) {
    //}
    //
    //@include media-query(min, $desk-start) {
    //    padding-left: $base-spacing * 3;
    //}
}

// ----------------------
// Hero tags are lines such as 'exclusive' above
// the hero title
// ----------------------
.hero__tag {
    //color: $orange;
    font-size: 2.7rem;
    font-family: $font-weight-black;
    text-transform: uppercase;
    margin-bottom: 0;
}

// -----------------------------
// Title inside the hero content
// -----------------------------
.hero__title {
    color: $white;
    font-family: $font-weight-black;
    text-transform: uppercase;
    margin-bottom: $half-spacing;

    font-size: 4.0rem;

    @include media-query(min, $desk-start) {
        font-size: 5.0rem;
    }
}

// -----------------------------------------
// Summary is the serif line below the title
// -----------------------------------------
.hero__summary {

    font-size: 1.8rem;
    line-height: 29px;
    max-width: 660px;
    margin: 0 auto;
    margin-bottom: $base-spacing;

    br {
        display: none;
    }

    @include media-query(min, $desk-start) {
        br {
            display: block;
        }
    }
}

// -------------------------------------
// cta contains the button/other actions
// -------------------------------------
.hero__cta {

    margin: 0 auto;

    //width: 150px;
    //
    //
    .button {
    //    width: 100%;
        margin-bottom: $half-spacing;
    }
    
    @include media-query(min, $lap-start) {
        width: auto;
        .button {
            width: auto;
            margin-left: $half-spacing/2;
            margin-right: $half-spacing/2;
        }
    }
}


