.icon-list {
    max-width: 600px;
    margin: 0 auto;
}

.icon-list__items {

}

.icon-list__item {
    display: block;
    //outline: 1px solid green;
    display: flex;
    text-decoration: none;
    color: $black;
    transition: transform .05s;
    //margin-bottom: $base-spacing;
    padding: $base-spacing;
    padding-left: 0;

    .has-mouse & {
        &:hover {
            //transform: scale(1.05);
            @include box-shadow-even;
        }
    }
}

.icon-list__title {
    font-weight: bold;
    font-size: 2.4rem;
    display: block;
}

.icon-list__tagline {
    display: block;
    margin-bottom: $half-spacing;
}

.icon-list__icon {
    display: block;
    padding: 0 $base-spacing;

    .svg-icon {
        color: $yellow;
        font-size: 3.0rem;

        position: relative;
        top: 6px;
    }
}

.icon-list__cta {
    display: block;
}
