
.wrapper {
    padding: $base-spacing 0;
    @include media-query(min, $lap-start) {
        padding: $base-spacing*2 0;
    }
}

@mixin container {

    padding-left: $half-spacing;
    padding-right: $half-spacing;
    max-width: $page-width;
    margin: 0 auto;

    @include media-query(min, $lap-start) {
        padding-left: $base-spacing;
        padding-right: $base-spacing;
    }
}

.container {
    @include container;
}

