.service-select {

    padding-top: 0;
    padding-bottom: 0;

    > .container {
        @include media-query(min, $lap-start) {
            display: flex;
        }
    }
}

.services {
    margin-bottom: $base-spacing;
    max-width: 600px;
    @include media-query(min, $lap-start) {
        width: 70%;
    }
}

.service__group {
    background: $white;
    padding: $half-spacing 0;
    .button {
        &:focus {
            outline: 0;
        }
    }
}


.service__title {
    margin-bottom: $half-spacing;
    font-size: 1.6rem;
    font-weight: bold;
}

.service--selected {
    //outline: 1px solid red;
    background: lighten($grey-lt, 10%);
}

@mixin item-button {
    -webkit-appearance: none;
    border: 0;
    background: $white;
    width: 100%;
    text-align: left;
    font-size: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: $base-spacing*2;
    padding-top: $half-spacing;
    padding-bottom: $half-spacing;
    padding-right: $base-spacing;

    .has-mouse & {
        &:hover {
            cursor: pointer;
            background: rgba($black, .05);
        }
    }

    &:focus {
        outline: 0;
    }


    &:before {

        display: inline-block;
        position: absolute;
        left: $half-spacing*1.5;
        top: 20px ;
        margin-right: $half-spacing;
        content: ' ';
        width: $half-spacing;
        height: $half-spacing;
        border: 1px solid $grey-lt;
    }
}

.service__button {

    @include item-button;

    .service--selected & {
        background: rgba($black, .05);
        &:before {
            background: $yellow;
            box-shadow:
                    0 0 1px 0 inset white,
                    1px 1px 0 0 inset white,
                    -1px -1px 0 0 inset white;
        }
    }
}

.service__price {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: auto;
}

.service__actions {}

.service__select {
    &[disabled] {
        opacity: .1;
    }
}

.service__remove {

    display: none;

    &:active {
        transform: scale(1);
    }

    .service--selected & {
        display: inline-block;
    }
}

.service__help {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $grey;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    margin-left: $half-spacing;
    font-size: 1.2rem;
    color: $grey;
}

.extras {

    padding: $half-spacing;
    display: none;

    .service--selected.service--has-extras & {
        display: block;
    }
}

.extras__items {
    @include list-reset;
    margin-bottom: 0;
}

.extras__item {
    display: flex;
    align-items: center;
    margin-bottom: $half-spacing/2;
    &:last-child {
        margin-bottom: 0;
    }
}

.extras__item--type-qty {
    display: block;
    > div {

    }
}

.extras__title {
    margin-bottom: $half-spacing;
}

.extras__item-button {

    @include item-button;

    font-size: 1.6rem;

    &:before {
        top: 17px;
    }

    .extras__item--selected & {
        background: rgba($black, .05);

        &:before {
            background: $yellow;
            box-shadow:
                    0 0 1px 0 inset white,
                    1px 1px 0 0 inset white,
                    -1px -1px 0 0 inset white;
        }
    }
}

.extras__item-qty {
    display: none;
    padding: $half-spacing;

    .extras__item--selected & {
        display: block;
    }
}

.qty__subtotal {
    width: auto;
    display: inline-block;
    padding: 0 $half-spacing;
}
.qty__text {
    width: auto;
    display: inline-block;
    padding: 0 $half-spacing;
}
.qty__button {
    cursor: pointer;
    width: 30px;
}

.extras__item-price {
    color: $grey;
    margin-left: $half-spacing/2;
}

.extras__item-subtotal {}
.extras__item-controls {}

.booking-form {}
.booking-form__inputs {}
.booking-form__summary {
    height: 30px;
    position: relative;
}

.summary  {  }
.summary__total  {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    margin-bottom: 0;
    z-index: 1;
    background: $white;
    .scrolled & {
        position: fixed;
        padding: $half-spacing $base-spacing;
        width: 100%;
        height: auto;
        @include box-shadow;
    }
}
.summary__count  {
    color: $grey;
}
