.upsell {

    background: $yellow;
    position: relative;

    @include media-query(max, $lap-start) {
        padding-bottom: $half-spacing;
        padding-bottom: $base-spacing * 2;
    }

    &:before {
        width: 200%;
        height: 200px;
        background: $yellow;
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        transform: rotate(-2deg);
        transform-origin: top left;
    }

    > .container {
        position: relative;
        z-index: 2;
    }
    .page-title {
        text-align: center;
        padding-top: 0;
    }
}
