---
description: >
    Mini-pod, for kids parties
cta: true
features: mini-pod-features
---

{{inc src="hero.hbs" service=$$.booths.mini-pod}}

<section class="wrapper detail">
    <div class="container">
        <div class="detail__gallery">
            <img src="/content/choice-03.jpg" alt="">
        </div>
        <div class="detail__content">
            <h2>{{{$$.booths.mini-pod.title}}}</h2>
            <p class="lede">{{{$$.booths.mini-pod.desc}}}</p>
            <p><strong>From: </strong>£{{$$.booths.mini-pod.items.4-10.price.value}}.00</p>
        </div>
    </div>
</section>

<section class="wrapper upsell" id="mini-pod-features">
    <div class="container">

        <h1 class="page-title">2 Childrens Booths available</h1>

        <div class="cards cards--feature-list cards--feature-list--two-up" id="the-pod-features">
            <div class="card">
                <p class="card__title">{{$$.booths.mini-pod.items.4-10.title}}</p>
                <ul class="card__feature-list">
                    {{#each $$.booths.mini-pod.items.4-10.features}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
                <p class="card__price">
                    <strong>Price: £{{$$.booths.mini-pod.items.4-10.price.value}}.00</strong>
                </p>
                <div class="card__cta">
                    <a href="{{$$.nav.book.url}}" class="button">Book Now</a>
                </div>
            </div>
            <div class="card">
                <p class="card__title">{{$$.booths.mini-pod.items.11-16.title}}</p>
                <ul class="card__feature-list">
                    {{#each $$.booths.mini-pod.items.11-16.features}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
                <p class="card__price">
                    <strong>Price: £{{$$.booths.mini-pod.items.11-16.price.value}}.00</strong>
                </p>
                <div class="card__cta">
                    <a href="{{$$.nav.book.url}}" class="button">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
