---
description: >
    The Pod, for adults
---

{{inc src="hero.hbs" service=$$.booths.the-pod}}

<section class="wrapper detail">
    <div class="container">
        <div class="detail__img">
            <img src="/content/photo-booths-01.jpg" alt="">
        </div>
        <div class="detail__content">
            <h2>{{$$.booths.the-pod.tagline}}</h2>
            <p class="lede">Available for weddings, birthday parties, corporate events and any other party or event. The Pod is ideal for you and your guests to have fun and make your event a memorable one.</p>
        </div>
        <div class="detail__img detail__img--right">
            <img src="/content/photo-booths-02.jpg" alt="">
        </div>
    </div>
</section>

{{inc src="features.hbs" feature=$$.booths.the-pod}}