<!-- <div class="wrapper contact" id="contact">
    <div class="container">
        <h1>Speak to us about your event.</h1>
        <ul class="contact__items">
            {{#each $$.site.contact}}
            <li class="contact__item"><strong>{{this.title}}</strong>{{this.value}}</li>
            {{/each}}
        </ul>
    </div>
</div> -->

<section class="wrapper booking-form" id="contact-form">
    <div class="container" id="app-container">

    </div>
</section>

