<div class="wrapper" id="contact">
    <div class="container">
        <h1>Contact</h1>
        <p>This section will Show the usual contact information + message form</p>
    </div>
</div>
<div class="wrapper" id="book">
    <div class="container">
        <h1>Book</h1>
        <p>This section will allow users to select multiple services which will be added to the contact
        email.</p>
    </div>
</div>

<div class="wrapper breadcrumb">
    <div class="container">
        <ul class="breadcrumb__items">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">Home</a></li>
            <li class="breadcrumb__item breadcrumb__item--current">Contact</li>
        </ul>
    </div>
</div>

