---
title: "Photo Booths, Event Photography, Grafiti Walls and More from YES.gg"
description: >
    We’re an entertainments company with a difference we don’t just do events we create event solutions especially for you, whatever you need we can accommodate you
---

<section class="wrapper hero-list">
    <div class="container">
        <h1 hidden="">{{$$.site.title}}</h1>
        <article class="hero hero--loading">
            <section class="hero__img" hero-src="/content/hero-01.jpg" hero-src-large="/content/hero-01.jpg">
                <section class="hero__content">
                    <h2 class="hero__title">{{$$.site.title}}</h2>
                    <p class="hero__summary">We’re an entertainments company with a difference we don’t just do events we create event solutions
                        especially for you, whatever you need we can accommodate you</p>
                    <div class="hero__cta">
                        <a href="/services" class="button" ui-please-wait>Our Services</a>
                        <a href="/contact" class="button button--trans" ui-please-wait>Get In Touch</a>
                    </div>
                </section>
            </section>
            <div class="loader"></div>
        </article>
    </div>
</section>

<section class="wrapper quick-nav">
    <div class="container">
        <div class="quick-nav__items">
            {{#each $$.services}}
            <a href="{{this.url}}" class="quick-nav__item">
                <span class="quick-nav__item__icon quick-nav__item__icon--{{this.icon}}">{{inc src="icon.hbs" icon=this.icon}}</span>
                <span class="quick-nav__item__title">{{this.title}}</span>
            </a>
            {{/each}}
        </div>
    </div>
</section>

<section class="wrapper detail">
    <div class="container">
        <div class="detail__img">
            <img src="/content/home-01.jpg" alt="">
        </div>
        <div class="detail__content">
            <h2>We offer both package and bespoke services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias doloremque ea earum eius
                esse eum fugit impedit ipsam ipsum neque, quam quasi qui, quibusdam, reiciendis rerum voluptas
                voluptate?</p>
            <p>
                <a href="/services" class="button" ui-please-wait>Our Services</a>
            </p>
        </div>
        <div class="detail__img detail__img--right">
            <img src="/content/home-02.jpg" alt="">
        </div>
    </div>
</section>

<section class="wrapper upsell">
    <div class="container">
        <h1 class="page-title">
            What our customers are saying about us...
        </h1>
        <div class="cards cards--carousel" id="testimonial-cards">
            <div class="card">
                <div class="card__logo">
                    <img src="/content/barclays.png" alt="">
                </div>
                <p class="card__title">Fantastic Event</p>
                <p class="card__summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequatur consequuntur delectus</p>
                <p class="card__author">&mdash; Dorothy Armstrong, CEO</p>
            </div>
            <div class="card">
                <div class="card__logo">
                    <img src="/content/hsbc.png" alt="">
                </div>
                <p class="card__title">True professionals in all aspects of the day</p>
                <p class="card__summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequatur consequuntur delectus</p>
                <p class="card__author">&mdash; Daniel James, Marketing Manager</p>
            </div>
            <div class="card">
                <div class="card__logo">
                    <img src="/content/deloitte.png" alt="">
                </div>
                <p class="card__title">Will use again!</p>
                <p class="card__summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequatur consequuntur delectus</p>
                <p class="card__author">&mdash; Dorothy Armstrong, CEO</p>
            </div>
        </div>
    </div>
</section>
