<div class="wrapper">
    <div class="container">
        <h1>Thank you!</h1>
        <p>We'll be in touch soon!</p>

        <p>
            <a href="/" class="button button--alt">Home</a>
            <a href="/services" class="button button--alt">Services</a>
        </p>
    </div>
</div>
